<div class="container">
  <h2>My Bookings</h2>

  <ul class="list">
    <% @bookings.each do |b| %>
      <li>
        <span><%= b.time.strftime("%Y/%m/%d") %></span>
        <span><%= b.time.strftime("%H:%M") %></span>
        <span><%= link_to 'Delete', user_booking_path(user_id: current_user, id: b.id), 
        method: :delete, data: { confirm: "Are you sure?" } %></span>
      </li>
    <% end %>
  </ul>
</div>