<div class="content">
  <h2>My Bookings</h2>

  <ul>
    <% @bookings.each do |b| %>
      <li>
        <%= b.time.strftime("%Y/%m/%d") %>
        <%= b.time.strftime("%H:%M") %>
        <%= b.coach.name %>
        <%= link_to 'Delete', customer_booking_path(customer_id: current_customer, id: b.id), 
        method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>