
.list ul {
  position: relative;
  width: 400px;
  margin: 100px auto 0;
  padding: 10px;
  box-sizing: border-box;
}
.list li {
  display: flex;
  background-color: #EBF5FB;
  padding: 20px 10px;
  margin: 5px 0;
}
.list li span:nth-child(1) {
  width: 200px;
}
.list li span:nth-child(2) {
  width: 300px;
}
.list li span:nth-child(3) {
  width: 300px;
}

