// main //
* {
  background: url("photo-image.jpeg");
  font-family: 'Lato', sans-serif;
  background-attachment: fixed;
}
a, p {
  text-decoration: none;
}
h2, h3 {
  text-align: center;
  letter-spacing: 3px;
}
ul {
  list-style: none;
}
.grid {
  display: grid;
}
// navigation //
.navigation-bar {
  display: flex;
  justify-content: space-between;
  letter-spacing: 3px;
  font-size: 25px;
  margin-top: 18px;
  a {
    color: #EAEDED;
    padding: 5px 20px;
  }
  a:hover {
    color: black;
  }
}
.logo {
  align-self: center;
}
.navbar li {
  display: inline;
}
// content //
.content {
  justify-self: center;
  padding-top: 50px;
  color: #EAEDED;
}
// forms //
.form {
  color: #EAEDED;
  .field {
    padding: 7px 0;
    a {
      color: #EAEDED;
    }
    a:hover {
      color: black;
    }
  }
  input {
    width: 300px;
    border: 0;
    margin: 10px 0;
    border-bottom: 2px solid #EAEDED;
    font-size: 15px;
    color: #EAEDED;
  }
  input::placeholder {
    color: #EAEDED;
    font-size: 15px;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  *:focus {
    outline: none;
  }
  input[type="checkbox"] {
    width: 40px;
  }
  button {
    width: 300px;
    height: 45px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #EAEDED;
    border: 2px solid #EAEDED;
  }
  button:hover {
    color: black;
    background: #EAEDED;
  }
}
// calendar //
.calendar {
  a {
    color: #EAEDED;
  }
  a:hover {
    color: black;
  }
  h3 {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  table {
    width: 500px;
    height: 300px;
  }
  tbody {
    text-align: center;
  }
  td {
    width: 50px;
    height: 50px;
    a {
      display: block;
      color: #EAEDED;
    }
    a:hover {
      color: black;
      background: #EAEDED;
      padding: 10px;
    }
  }
  .inactive {
    color: #839192;
  }
}
// bookings //
.booking {
  li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
  word-spacing: 45px;
  }
  button {
    border: 1px solid #EAEDED;
    color: #EAEDED;
    font-size: 17px;
    letter-spacing: 2px;
  }
  button:hover {
    color: black;
    background: #EAEDED;
  }
  button:disabled,
  button[disabled] {
    color: black;
    background: url("photo-image.jpeg");
    background-attachment: fixed;
  }
  select {
    width: 80px;
    font-size: 15px;
    background: #EAEDED;
    border: none;
  }
}
.bookings-list {
  li {
  display: flex;
  padding: 10px;
  width: 500px;
  margin: 10px 0;
  }
  li span:nth-child(1) {
    width: 150px;
  }
  li span:nth-child(2) {
    width: 100px;
  }
  li span:nth-child(3) {
    width: 200px;
  }
  .button {
    font-size: 17px;
    letter-spacing: 2px;
    color: #EAEDED;
    border: 1px solid #EAEDED;
  }
  .button:hover {
    color: black;
    background: #EAEDED;
    border: 1px solid #EAEDED;
  }
}
// trainings //
.trainings-list {
  li {
    display: flex;
    padding: 10px;
    width: 500px;
    margin: 10px 0;
  }
  li span:nth-child(1) {
    width: 190px;
  }
  li span:nth-child(2) {
    width: 150px;
  }
}
// schedule //
.schedule {
  text-align: center;
  table {
    width: 500px;
    height: 300px;
    padding-bottom: 10px;
  }
  button {
    width: 500px;
    height: 30px;
    border: 1px solid #EAEDED;
    color: #EAEDED;
    font-size: 17px;
    letter-spacing: 2px;
  }
  button:hover {
    color: black;
    background: #EAEDED;
  }
}
// pagination //
.apple_pagination {
  text-align: center;
  padding: 10px;
  cursor: default; 
}
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; 
}
.apple_pagination .disabled {
  color: #839192;
  }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em; 
}
.apple_pagination a {
  text-decoration: none;
  color: #EAEDED; 
}
.apple_pagination a:hover, .apple_pagination a:focus {
  color: black; 
}
// alerts //
.notice, .alert {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  }
// errors //
.error_explanation {
  color: black;
  ul {
    list-style-type: disc;
  }
}